<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer-line}">

    <title layout:fragment="title">Space - Community</title>

    <span layout:fragment="line" id="line-span"><a href="#"></a></span>

    <main layout:fragment="content">
        <div class="flex-col al-items-center mt-5vh">
            <div class="width-50p" th:each="commPost : ${commPagination.posts}">
                <div class="post-list">
                    <div class="p-5 my-10 font-size-16 flex-col">
                        <a class="al-self-self-start"
                            th:href="@{/user/{userId}(userId=${commPost.userId})}"
                            th:text="${commPost.userNickname}">
                        </a>

                        <a class="al-self-self-start"
                            th:href="@{/community/{id}(id=${commPost.id})}"
                            th:text="${commPost.title}">
                        </a>
                    </div>
                </div>
                <hr>
            </div>

            <div class="flex mt-10 font-size-16">
                <th:block th:if="${commPagination.totalPages == 1}">
                    <div class="page-line">
                        <span class="non-link-page"
                            th:text="${commPagination.totalPages}">
                        </span>
                    </div>
                </th:block>

                <th:block th:unless="${commPagination.totalPages == 1}">
                    <th:block th:each="commPageNum : ${#numbers.sequence(1, commPagination.totalPages)}">
                        <div class="page-line">
                            <a class="link-page"
                                th:if="${commPageNum != commPagination.totalPages}"
                                th:text="${commPageNum}"
                                th:href="@{/community}">
                            </a>

                            <span class="non-link-page"
                                th:if="${commPageNum == commPagination.totalPages}"
                                th:text="${commPageNum}">
                            </span>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
        
        <div class="button-container mt-20">
            <button class="btn btn-primary" id="go-to-write-page-btn" type="button">글 작성</button>
            <button class="btn btn-primary" id="go-to-main-page-btn" type="button">돌아가기</button>
        </div>
    </main>
</html>