<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer}">
      
    <title layout:fragment="title">Space</title>

    <main class="flex mt-10vh gap-20vh" layout:fragment="content">
        <div class="flex-1">
            <div class="width-75p m-0-auto">
                <div class="board-title-box width-100p mb-40">
                    <p class="board-title-font">Q&A</p>
                </div>

                <div class="width-100p" th:each="qnAPost : ${qnAPagination.posts}">
                    <div class="post-list">
                        <div class="p-5 my-5 font-size-16 flex-col">
                            <a class="al-self-self-start"
                            th:href="@{/user/{userId}(userId=${qnAPost.userId})}"
                            th:text="${qnAPost.userNickname}"></a>

                            <a class="al-self-self-start"
                            th:href="@{/qna/{id}(id=${qnAPost.id})}"
                            th:text="${qnAPost.title}"></a>
                        </div>
                    </div>
                    <hr>
                </div>

                <a class="inline-block m-5 p-5 pointer" th:href="@{/qna}">전체 글 보기</a>
            </div>
        </div>

        <div class="flex-1">
            <div class="width-75p m-0-auto">
                <div class="board-title-box width-100p mb-40">
                    <p class="board-title-font">커뮤니티</p>
                </div>

                <div class="width-100p" th:each="commPost : ${commPagination.posts}">
                    <div class="post-list">
                        <div class="p-5 my-5 font-size-16 flex-col">
                            <a class="al-self-self-start"
                            th:href="@{/user/{userId}(userId=${commPost.userId})}"
                            th:text="${commPost.userNickname}"></a>

                            <a class="al-self-self-start"
                            th:href="@{/community/{id}(id=${commPost.id})}"
                            th:text="${commPost.title}"></a>
                        </div>
                    </div>
                    <hr>
                </div>
                    
                <a class="inline-block m-5 p-5 pointer" th:href="@{/community}">전체 글 보기</a>
            </div>
        </div>
    </main>
</html>