<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer-line}">

    <title layout:fragment="title">Space - QnA</title>

    <span layout:fragment="line" id="line-span"><a href="#">QnA</a></span>

    <main layout:fragment="content">
        <div class="flex-col al-items-center mt-5vh">
            <div class="width-50p" th:each="qnAPost : ${qnAPosts}">
                <div class="post-list">
                    <div class="p-5 my-10 font-size-16 flex-col">
                        <a class="al-self-self-start"
                            th:href="@{/user/{userId}(userId=${qnAPost.userId})}"
                            th:text="${qnAPost.userNickname}">
                        </a>

                        <a class="al-self-self-start"
                            th:href="@{/qna/{id}(id=${qnAPost.id})}"
                            th:text="${qnAPost.title}">
                        </a>
                    </div>
                </div>
                <hr>
            </div>

            <div class="flex mt-10 font-size-16">
                <div th:each="qnAPageNum : ${#numbers.sequence(1, qnAPosts.size())}">
                    <div class="page-line">
                        <a class="inactive-page"
                            th:if="${qnAPageNum != qnAPosts.size() + 1}"
                            th:text="${qnAPageNum}"
                            th:href="@{/qna}">
                        </a>

                        <span class="active-page"
                            th:if="${qnAPageNum == qnAPosts.size() + 1}"
                            th:text="${qnAPageNum}">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="button-container mt-20">
            <button class="btn btn-primary" id="go-to-write-page-btn" type="button">글 작성</button>
            <button class="btn btn-primary" id="go-to-main-page-btn" type="button">돌아가기</button>
        </div>
    </main>
</html>