<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer-line}">

    <title layout:fragment="title">Space</title>

    <span layout:fragment="line" id="line-span"><a href="#"></a></span>

    <main layout:fragment="content">
        <div class="post-box">
            <div class="mt-20">
                <label for="title">제목</label>
                <input class="width-100p" type="text" id="title" name="title" placeholder="제목을 입력하세요." />
            </div>
            <div class="flex-space-between mt-20">
                <div class="width-30p">
                    <label for="topic">주제</label>
                    <select class="width-100p" id="topic" name="topic">
                        <option value="">주제 선택</option>
                        <option value="공지">공지</option>
                        <option value="질문">질문</option>
                        <option value="공유">공유</option>
                    </select>
                </div>
                <div class="width-65p">
                    <label for="tag">태그</label>
                    <input class="width-100p" type="text" id="tag" name="tag" />
                </div>
            </div>
            <div class="mt-20">
                <label for="content">내용</label>
                <textarea class="width-100p height-50vh" id="content" name="content" placeholder="내용을 입력하세요."></textarea>
            </div>
            <div class="flex-space-between my-20">
                <button class="btn btn-dark" id="go-to-posts-btn">글목록</button>
                <div class="button-container">
                    <button class="btn btn-primary">임시저장</button>
                    <button class="btn btn-primary" id="write-post-btn">작성</button>
                </div>
            </div>
        </div>
    </main>
</html>