<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/styles-v1.css}" href="../../static/css/styles-v1.css">

    <style>
        .flex > div {
            flex: 1;
        }
    </style>

    <script>
        function confirmLogOutPost() {
            let confirmFlag = confirm("로그아웃하시겠습니까?");
            return confirmFlag;
        }
    </script>
</head>
<body class="bg-image-milkyway">
    <div class="flex-end gap-20" th:if="${user}">
        <button class="btn btn-primary" type="button" onclick="location.href='/my-page'">내정보</button>
        <button class="btn btn-secondary" type="button" onclick="location.href='/logout'">로그아웃</button>
    </div>
    <div class="flex-end gap-20" th:unless="${user}">
        <button class="btn btn-primary" type="button" onclick="location.href='/signup'">회원가입</button>
        <button class="btn btn-primary" type="button" onclick="location.href='/login'">로그인</button>
    </div>

    <div class="flex mt-10vh">
        <div>
            <div class="div-width-75p m-0-auto">
                <div class="board-title-box div-width-100p mb-40">
                    <p class="board-title-font">Q&A</p>
                </div>

                <div th:if="${qnAPostPage.totalElements > 0}">
                    <div class="div-width-100p" th:each="qnAPost : ${qnAPostPage.content}">
                        <form th:action="@{/qna/{id}(id=${qnAPost.id})}" method="get">
                            <input type="hidden" th:value="${qnAPostPage.number + 1}" name="page" />
                            <div class="post-list" onclick="this.closest('form').submit();">
                                <div class="p-5 my-10 font-size-16">
                                    <p th:text="${qnAPost.nickname}"></p>
                                    <p th:text="${qnAPost.title}"></p>
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>

                <a class="inline-block m-5 p-5 pointer" th:href="@{/qna}">전체 글 보기</a>
            </div>
        </div>

        <div>
            <div class="div-width-75p m-0-auto">
                <div class="board-title-box div-width-100p mb-40">
                    <p class="board-title-font">커뮤니티</p>
                </div>

                <div th:if="${commPostPage.totalElements > 0}">
                    <div class="div-width-100p" th:each="commPost : ${commPostPage.content}">
                        <form th:action="@{/community/{id}(id=${commPost.id})}" method="get">
                            <input type="hidden" th:value="${commPostPage.number + 1}" name="page" />
                            <div class="post-list" onclick="this.closest('form').submit();">
                                <div class="p-5 my-10 font-size-16">
                                    <p th:text="${commPost.nickname}"></p>
                                    <p th:text="${commPost.title}"></p>
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
                    
                <a class="inline-block m-5 p-5 pointer" th:href="@{/community}">전체 글 보기</a>
            </div>
        </div>
    </div>
</body>
</html>