<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 작성 페이지</title>
    <script>
        function showSuccessAlert() {
            alert("글이 성공적으로 작성되었습니다.");
        }
    </script>
</head>
<body>
    <h1>게시글 작성</h1>
    <div class="button-container" style="display:flex; gap:10px;">
        <form th:action="@{/templates/board/write}" method="post" onsubmit="showSuccessAlert()">
            <div>
                <label for="title">제목:</label>
                <input type="text" id="title" name="title" required />
            </div>
            <div>
                <label for="content">내용:</label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <button type="submit">작성</button>
        </form>
    </div>
    <form th:action="@{/templates/board/home}" method="get">
        <button type="submit">Home</button>
    </form>
</body>
</html>