<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer}">
      
    <title layout:fragment="title">Space - 아이디 찾기</title>

    <main layout:fragment="content">
        <div class="button-container">
            <button class="btn btn-selected">아이디 찾기</button>
            <button class="btn btn-unselected" id="go-to-find-pw-page-btn">비밀번호 찾기</button>
        </div>

        <div class="width-30p flex-col al-items-center m-0-auto mt-5vh">
            <p>계정 인증을 진행합니다.</p>
            <p>본인의 이메일을 입력해주세요.</p>
            <p>메일 인증이 완료될 시 아이디를 확인하실 수 있습니다.</p>
            <p>메일이 도착하지 않는다면 스팸 메일함을 확인해주세요.</p>

            <form class="width-100p" th:action="@{/find-id}" method="post">
                <div class="flex mt-10vh">
                    <div class="m-0-auto width-100p">
                        <label for="email">이메일</label>
                        <input class="width-100p" type="text" id="email" name="email">
                    </div>
                </div>
                <div class="button-container mt-40">
                    <button class="btn btn-primary" id="go-to-login-page-btn" type="button">돌아가기</button>
                    <button class="btn btn-primary" type="submit">이메일 확인</button>
                </div>
            </form>
        </div>
    </main>
</html>