<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer-line}">
      
    <title layout:fragment="title">Space</title>

    <span layout:fragment="line">로그인</span>
    

    <main layout:fragment="content">
        <div class="flex-center">
            <div class="width-40p">
                <form th:action="@{/login}" th:object="${user}" method="post">
                    <label class="mt-5vh" for="userid">아이디</label>
                    <input class="width-100p" type="text" id="userid" th:field="*{userId}" placeholder="아이디 입력" autofocus />

                    <label class="mt-10" for="password">비밀번호</label>
                    <input class="width-100p" type="password" id="password" th:field="*{password}" placeholder="비밀번호 입력" />

                    <div class="flex-center mt-20">
                        <label class="m-0 align-center" for="remember">아이디 기억</label>
                        <input class="ml-5 mr-20" type="checkbox" id="remember" name="remember">

                        <button class="btn btn-primary" type="submit">로그인</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="button-container mt-40">
            <form th:action="@{/signup}" method="get">
                <button class="btn btn-primary" type="submit">회원가입</button>
            </form>
            <button class="btn btn-primary" onclick="window.location.href='/forgot-id'">아이디 / 비밀번호 찾기</button>
        </div>
    </main>
</html>