<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-with-header-footer}">
      
    <title layout:fragment="title">Space</title>
    

    <main class="relative flex al-items-stretch" layout:fragment="content">
        <th:block th:replace="~{fragments/sidebar :: sidebarFragment}"></th:block>

        <div class="vertical-line"></div>

        <div class="flex-1">
            <div class="ml-10p">
                <label for="email" class="pt-10">이메일 수정</label>
                <input class="width-50p mb-20" type="text" id="email" th:value="${user.email}" placeholder="이메일을 입력해주세요." />
                <button class="btn btn-dark ml-20" type="button" id="authn-phone">이메일 인증</button>
                <p>이메일 인증 요청 시 입력하신 이메일로 인증 요청 메일이 발송됩니다.</p>
                <p>이메일 인증이 정상적으로 완료된 후에 이메일이 수정됩니다.</p>
            </div>
            <div class="settings-separator"></div>

            <div>
                <div class="ml-10p">
                    <label for="email" class="pt-10">휴대폰 인증</label>
                    <button class="btn btn-dark mb-10" type="button">휴대폰 인증하기</button>
                </div>
                <div class="settings-separator"></div>
            </div>
        </div>
    </main>
</html>