<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 목록 페이지</title>
    <style>
        .post-box {
            border: 1px solid #ccc; /* 박스 테두리 */
            padding: 10px; /* 내부 여백 */
            margin: 10px; /* 외부 여백 */
            cursor: pointer; /* 마우스 클릭 버튼 */
            transition: background-color 0.3s; /* 배경색 변화 애니메이션 */
        }

        .post-box:hover {
            background-color: #f0f0f0; /* 호버 시 배경색 변화 */
        }
    </style>
</head>
<body>
    <h1>글 목록</h1>
    <div th:each="post : ${postPage.content}">
        <form th:action="@{/post/detail/{id}(id=${post.id})}" method="get">
            <input type="hidden" th:value="${postPage.number}" name="page" />
            <div class="post-box" onclick="this.closest('form').submit();">
                <div style="display: flex; gap: 50px;">
                    <p th:text="'제목: ' + ${post.title}"></p>
                    <p th:text="'작성자: ' + ${post.nickname}"></p>
                </div>
                <p th:text="'내용: ' + ${post.content}"></p>
            </div>
        </form>
    </div>

    <div style="margin: 10px;">
        <span>페이지: <span th:text="${postPage.number+1} + '/'
                    + ${postPage.totalPages}"></span></span>
    </div>

    <div style="margin: 10px;">
        <a th:if="${postPage.hasPrevious()}" th:href="@{/post/articles(page=${postPage.number-1})}">이전</a>
        <a th:if="${postPage.hasNext()}" th:href="@{/post/articles(page=${postPage.number+1})}">다음</a>
    </div>
    <div style="margin: 10px;">
        <form th:action="@{/post/home}" method="get">
            <button type="submit">Home</button>
        </form>
    </div>
</body>
</html>