<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 조회 페이지</title>
</head>
<body>
    <h1 style="color: gray">게시글 조회</h1>
    <div th:text="'ID: ' + ${post.getId()}"></div>
    <div th:text="'제목: ' + ${post.getTitle()}"></div>
    <div th:text="'내용: ' + ${post.getContent()}"></div>

    <div class="button-container" style="display:flex; gap:10px;">
        <form th:action="@{/update}" method="get">
            <input type="hidden" th:value="${post.getId()}" name="id">
            <button type="submit">수정</button>
        </form>
        <form th:action="@{/delete}" method="post">
            <input type="hidden" th:value="${post.getId()}" name="id">
            <button type="submit">삭제</button>
        </form>
        <form th:action="@{/lists}" method="get">
            <input type="hidden" th:value="0" name="page">
            <input type="hidden" th:value="5" name="size">
            <button type="submit">글 목록</button>
        </form>
    </div>
</body>
</html>