<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글 수정 페이지</title>
    <script>
        function showUpdateAlert() {
            alert("글이 성공적으로 수정되었습니다.");
        }
    </script>
</head>
<body>
    <h1>글 수정</h1>
    <div class="button-container" style="display:flex; gap:10px">
        <form th:action="@{/post/update}" method="post" onsubmit="showUpdateAlert()">
            <div>
                <label for="title">제목:</label>
                <input type="text" id="title" th:value="${post.title}" name="title" required />
            </div>
            <div>
                <label for="content">내용:</label>
                <textarea id="content" th:text="${post.content}" name="content" required></textarea>
            </div>
                <input type="hidden" th:value="${post.id}" name="id">
                <button type="submit">수정</button>
        </form>
        <form th:action="@{/post/articles(page=${page})}" method="get">
            <button type="submit">글 목록</button>
        </form>
    </div>
</body>
</html>