<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈 화면</title>

    <style>
        div {
            margin: 10px;
        }
    </style>

    <script type="text/javascript">
        function showLogInAlert(message) {
            if(message) {
                alert(message);
            }
        }
    </script>
</head>
<body>
    <h1>홈페이지</h1>

    <div th:if="${message != null}">
        <script>
            showLogInAlert("[[${message}]]");
        </script>
    </div>

    <form th:action="@{/login}" th:object="${user}" method="post">
        <div>
            <label for="userId">ID</label>
            <input type="text" id="userId" th:field="*{userId}" required />
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" required />
        </div>

        <div>
            <button type="submit">로그인</button>
        </div>
    </form>

    <div style="display: flex; gap: 10px;">
        <form th:action="@{/signup}" method="get">
            <button type="submit">회원가입</button>
        </form>
    </div>
</body>
</html>