<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈 화면</title>

    <style>
        div {
            margin: 10px;
        }
    </style>

    <script>
        window.onload(message);
        function showLogInAlert() {
            alert(message);
        }
    </script>
</head>
<body>
    <h1>홈페이지</h1>

<!--    <script>-->
<!--        if (message) {-->
<!--            showLogInAlert(message);-->
<!--        }-->
<!--    </script>-->

    <form th:action="@{/login}" method="post" onsubmit="showLogInAlert()">
        <div>
            <label for="userId">ID</label>
            <input type="text" id="userId" name="userId">
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <button type="submit">로그인</button>
        </div>
    </form>

    <div style="display: flex; gap: 10px;">
        <form th:action="@{/signup}" method="get">
            <button type="submit">회원가입</button>
        </form>
    </div>
</body>
</html>