<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인 페이지</title>
    <script>
        function showPasswordErrorAlert(errorMessage) {
            if(errorMessage) {
                alert(errorMessage);
            }
        }
    </script>
</head>
<body>
    <script>
        showPasswordErrorAlert(`[[${errorMessage}]]`);
    </script>

    <form th:action="@{/user/verify-password}" method="post">
        <label for="password">현재 비밀번호를 입력하세요.</label>
        <input type="password" id="password" name="password" required autofocus />
        <input type="hidden" th:value="${param.action}" name="action">
        <button type="submit">확인</button>
    </form>

    <form th:action="@{/}" method="get">
        <button type="submit">돌아가기</button>
    </form>
</body>
</html>