/* ==========================================
   Global Styles
========================================== */

/* Reset or Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Setting */
body {
    min-height: 100vh;
    width: 80%;
    margin: 0 10%;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

/* Background Image Setting */
.bg-image-flower {
    background-image: url(../image/flower.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-milkyway {
    background-image: url(../image/milkyway.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ==========================================
   ID Styles
========================================== */

/* Post Styles */
#articles {
    color: #FFF;
}



/* ==========================================
   Tag Styles
========================================== */

/* Header Styles */
header {
    background: #333;
    color: #FFF;
    padding: 10px 0;
}

/* Label Styles */
label {
    color: #FFF;
    display: flex;
    font-size: 14px;
    margin-left: 3px;
    margin-bottom: 3px;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-around;
}

/* Heading Styles */
h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    color: #D4D4D4;
}

/* Link Styles */
a {
    text-decoration: none;
}

/* Paragraph Styles */
p {
    color: #B9B9B9;
    text-align: center;
    font-size: 14px;
}

/* Input Styles */
input {
    border: #686868 solid 1px;
    border-radius: 5px;
    background: #353535;
    padding: 10px;
    margin-bottom: 15px;
    color: #FFF;
    font-size: 14px;
}

input::placeholder {
    font-size: 14px;
}

/* Table Styles */
table {
    width: 500px;
    margin: 150px auto;
    border-collapse: collapse;
    border: 3px solid #dee2e6;
    /* text-align: left; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    /* overflow-x: auto; */
    white-space: nowrap;
    background: #fff;
}

table th, td {
        /* padding-left: 10px; */
        border-bottom: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
}

table th {
        /* text-align: center; */
        background: #98b9f7;
        color: #fff;
}

table input {
    color: #000;
    border: none;
    background: #fff;
    padding: 20px 0 20px 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

table input:hover {
    background: #f5f5f5;
}

table input:focus {
    outline: #007bff;
    background-color: #f5f5f5;
}

/* ==========================================
   Class Styles
========================================== */

/* ========================= */
/*       Layout Class        */
/* ========================= */

/* Margin Layout */
.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-0-auto {
    margin: 0 auto;
}

.m-auto-0 {
    margin: auto 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-5p{
    margin-top: 5%;
}

.mt-10p {
    margin-top: 10%;
}

.mt-20p {
    margin-top: 20%;
}

.mt-30p {
    margin-top: 30%;
}

.mt-40p {
    margin-top: 40%;
}

.mt-50p {
    margin-top: 50%;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Padding Layout */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Gap Styles */
.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

/* Input Styles */

.input-width-15p {
    width: 15%;
}

.input-width-25p {
    width: 25%;
}

.input-width-50p {
    width: 50%;
}

.input-width-100p {
    width: 100%;
}

.input-width-100 {
    width: 100px;
}

.input-width-200 {
    width: 200px;
}

.input-width-300 {
    width: 300px;
}

.input-width-400 {
    width: 400px;
}

.input-width-500 {
    width: 500px;
}

/* Flex Styles */
.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-start {
    display: flex;
    justify-content: start;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: end;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: flex-end;
}


/* ========================= */
/*        Style Class        */
/* ========================= */

/* Button-Styles */
.btn {
    padding: 10px;
    margin: 20px 0 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background: #0058b6;
    transition: background 0.3s ease;
}

.btn-secondary {
    background: #f66;
    color: #ffffff;
}

.btn-secondary:hover {
    background: #f33;
    transition: background 0.3s ease;
}

.btn-selected {
    background: #2f00ff;
    color: #ffffff;
    cursor: default;
    padding: 10px 20px;
    margin-top: 50px;
}

.btn-unselected {
    background: #7fbdff;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 50px;
}

.btn-unselected:hover {
    background: #4ba2ff;
    color: #ffffff;
}

/* Pointer Styles */
.pointer {
    cursor: pointer;
}

.no-pointer {
    cursor: default;
}

/* Post Styles */
.post-nickname {
    color: #B9B9B9;
}

.post-sub {
    color: #B9B9B9;
    font-size: 14px;
    margin-bottom: 40px;
}

.post-title {
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.post-content {
    color: #B9B9B9;
    font-size: 18px;
    line-height: 2;
}

.post-preview {
    color: #C7C7C7
}

.post-preview:hover {
    background: #ff00aa27;
    transition: 0.3s ease;
}

.post-box {
    border-top: #E7E7E7 solid 1px;
    width: 1000px;
    height: 500px;
    color: #FFF;
    margin: 0 auto;
    padding: 40px 20px;
    overflow: auto;
    word-wrap: break-word;
}

/* Box Utility */
.box-left {
    background: #CACACA;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 100px 0 30px 200px;
    border-radius: 20px;
}

.box-right {
    background: #CACACA;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 100px 200px 30px 0;
    border-radius: 20px;
}

.box-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

/* Button-container Utility */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ==========================================
   Media Queries
========================================== */

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}
